.painel-level{
  margin: 0 auto;
  width: auto;
  justify-items: center;
  align-items: center;
}

.painel-start{
  text-align: center;
  margin: 0 auto;
  width: auto;
  justify-items: center;
  align-items: center;
}

.painel-level{
  padding-left: 1%;
  padding-right: 1%;
  border: 2px solid black;
  width: 25em;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  align-items: center;
}

.level-display{
  text-align: center;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  padding-left: 30%;
  padding-right: 30%;
  width: auto;
}

.grid-pairs{
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(2, 100px);
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.letter-pair{
  font-size: xx-large;
  background-color: white;
  border: 2px solid black;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 85px;
  height: 85px;
}

input{
  padding: 2% !important;
  width: 510px !important;
  text-align: center;
  font-size: xx-large !important;
  border: 2px solid black !important;
}

h6{
  font-size: smaller;
}

.grid-infos{
  width: 500px;
  margin: auto;
  display: grid;
  align-self: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "r1 r2"
  "times times";
}

.times{
  grid-area: times;
}